body{
    text-align: center;
    background-color: #282a36;
    color: #f8f8f2;
    font-family: "Helvetica", "Arial", sans-serif;
}

img {
    width: 600px;
    height: auto;
}

.header{
    color:#8be9fd;
}

.instructions{
    text-align: left;
}

.list {
    display: table;
    margin: 0 auto;
}

.list.recipe{
    list-style: none;
}

.steps li{
    padding: 5px 0px;
}